In [34]:
########### Question 1 ############
def symmetric_difference_count(set1, set2):
  len1=len(set1)
  len2=len(set2)
  count=0
  unique_list = []

    # traverse for all elements
  for x in set1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
  for x in set2:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
  if(len1<len2):
    for x in set1:
        if x  in set2:
            count+=1
  else:
    for x in set2:
        # check if exists in unique_list or not
        if x  in set1:
            count+=1
  count1=len(unique_list)
  return count1-count


# Example usage:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
result = symmetric_difference_count(set1, set2)
print(result)
# Output should be the count of unique elements in the symmetric difference: 4

4

In [35]:
############ Question 2 ##############
def is_disjoint_sets(set1, set2):
  count=symmetric_difference_count(set1, set2)
  if count==(len(set1)+len(set2)):
    return True
  else:
    return False
  # Your code here

# Example usage:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
result = is_disjoint_sets(set1, set2)
print(result)
# Output should be True because set1 and set2 have no elements in common.

True

In [36]:
################ Question 3 ###############
def maximize_satisfaction(preferences):
  max=0
  sum=0
  for y in range(len(preferences[0])):
    for i in range(len(preferences)):
      for x in preferences[i]:
        sum =sum+x
        break
    if (sum>max):
      max=sum-y
  return max
# Example usage:
group1 = frozenset({1, 2, 3, 4, 5})
group2 = frozenset({3, 4, 5, 6, 7})
group3 = frozenset({1, 3, 5, 7, 9})
group4 = frozenset({2, 4, 6, 8, 10})

preferences = [group1, group2, group3, group4]
result = maximize_satisfaction(preferences)
result
# Output should be the item that maximizes overall satisfaction.

31

In [37]:
################ Question 4 #####################
def has_cycle(visited, graph, node):
    if node not in visited:
        visited.add(node)
        for neighbour in graph[node]:
           has_cycle(visited, graph, neighbour)
    if (node!=len(visited)):
        return False
    else:
        return True
undirected_graph = {
    1: {2, 3},
    2: {1, 4},
    3: {1, 4},
    4: {2, 3}
}
result=len(undirected_graph)
visited = set()
node=len(undirected_graph)
result=has_cycle(visited,undirected_graph, node)
print(result)

True

In [38]:
################ Question 5 ###############
def calculate_average(numbers):
  try:
          if not numbers:
              raise ValueError("List is empty. Cannot calculate the average.")

          total = 0
          count = 0
          for value in numbers:
              if not isinstance(value, (int, float)):
                  raise TypeError("Invalid element type. All elements must be numerical.")
              total += value
              count += 1

          return total / count

  except ValueError :
          return ValueError
  except TypeError:
          return TypeError


numbers = [1, 2, 3, 4, 5]
print("Average:", calculate_average(numbers))

Average: 3.0

In [39]:
################ Question 6 ###############
#write your code here
my_file = open("1.txt", "r")
data = my_file.read()
data_into_list = data.replace('\n', ' ').split(",")
result = [item.split(' ', 1)[0] for item in data_into_list]
highhest= [item.split(',', 1)[0] for item in data_into_list]
(result.pop(0))
res = [eval(i) for i in result]
average=(sum(res) / len(res))
# printing the data
print("Average = ",average)
my_file.close()
names = [''.join(c for c in item if c.isalpha() or c.isspace()) for item in data_into_list if any(c.isalpha() for c in item)]
max = 0
for i in range(0, len(res)):
    if res[i] >res[max]:
        max= i
print("student with the highest grade.= ",names[max])

Average =  89.6
student with the highest grade.=   Eva