**Iport Libraries**

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Xcel to csv

In [44]:
CollectedData_Xcel= pd.read_excel('/content/CollectedData.xlsx')
 
#print(CollectedData_Xcel.head())
CollectedData_Xcel.to_csv ("CollectedDAta.csv", index = None, header=True)
CollectedData_csv = pd.DataFrame(pd.read_csv("CollectedDAta.csv"))
print(CollectedData_csv.head())

   ignored  ignore1  Age  ignore 55  ignore 56  ignore 57  ignore 58  AMV  \
0      8.0      2.0  NaN        0.0     1993.0      146.0        NaN  2.0
1      8.0      3.0  NaN        0.0     1993.0      146.0        NaN  1.0
2      8.0      4.0  NaN        0.0     1993.0      146.0        NaN  3.0
3      8.0      5.0  NaN        0.0     1993.0      146.0        NaN  3.0
4      8.0      6.0  NaN        0.0     1993.0      146.0        NaN  1.0

   ignore 45  ignore 46  ...  ignore8.1  15.3  ignore7  TaOutdoor  ignore6  \
0        1.0        NaN  ...        NaN  15.3      7.8      11.55     58.0
1        2.0        NaN  ...        NaN  15.3      7.8      11.55     58.0
2        1.0        NaN  ...        NaN  15.3      7.8      11.55     58.0
3        1.0        NaN  ...        NaN  15.3      7.8      11.55     58.0
4        2.0        NaN  ...        NaN  15.3      7.8      11.55     58.0

   ignore5  RhOutdoor  ignore4  ignore3  ignore2
0    100.0       79.0     15.4      8.1    11.75
1    100.0       79.0     15.5      8.1    11.80
2    100.0       79.0     15.4      8.1    11.75
3    100.0       79.0     15.4      8.1    11.75
4    100.0       79.0     15.6      8.3    11.95

[5 rows x 80 columns]

***Part A. Preprocessing***

In [62]:
Selecting_the_data = pd.DataFrame(CollectedData_csv, columns=['Age', 'AMV', 'Met', 'Clo','Dewpt','PlaneRadTemp','Ta','Tmrt','Vel','AirTurb','Pa','Rh','PMV','TaOutdoor','RhOutdoor'])
#print(Selecting_the_data)
DataType = Selecting_the_data.dtypes
print('-------Data type of each column of Dataframe :------')
print(DataType)
print('---------NUMBER OF NULLS IN EACH COlumn---------')

count_nan_Age = Selecting_the_data['Age'].isna().sum()
count_nan_AMV = Selecting_the_data['AMV'].isna().sum()
count_nan_Met = Selecting_the_data['Met'].isna().sum()
count_nan_Clo = Selecting_the_data['Clo'].isna().sum()
count_nan_Dewpt = Selecting_the_data['Dewpt'].isna().sum()
count_nan_PlaneRedTemp = Selecting_the_data['PlaneRadTemp'].isna().sum()
count_nan_Ta = Selecting_the_data['Ta'].isna().sum()
count_nan_Tmrt = Selecting_the_data['Tmrt'].isna().sum()
count_nan_Vel = Selecting_the_data['Vel'].isna().sum()
count_nan_AirTurb = Selecting_the_data['AirTurb'].isna().sum()
count_nan_Pa = Selecting_the_data['Pa'].isna().sum()
count_nan_Rh = Selecting_the_data['Rh'].isna().sum()
count_nan_PMV = Selecting_the_data['PMV'].isna().sum()
count_nan_TaOutdoor = Selecting_the_data['TaOutdoor'].isna().sum()
count_nan_RhOutdoor = Selecting_the_data['RhOutdoor'].isna().sum()
print ('Count of NaN in RhOutdoor =  ' + str(count_nan_RhOutdoor))
print ('Count of NaN in TaOutdoor =  ' + str(count_nan_TaOutdoor))
print ('Count of NaN in PMV =  ' + str(count_nan_PMV))
print ('Count of NaN in Rh =  ' + str(count_nan_Rh))
print ('Count of NaN in Pa =  ' + str(count_nan_Pa))
print ('Count of NaN in AirTub =  ' + str(count_nan_AirTurb))
print ('Count of NaN in Vel =  ' + str(count_nan_Vel))
print ('Count of NaN in Tmrt =  ' + str(count_nan_Tmrt))
print ('Count of NaN in Ta =  ' + str(count_nan_Ta))
print ('Count of NaN in PlaneRedTemp =  ' + str(count_nan_PlaneRedTemp))
print ('Count of NaN in Dewpt =  ' + str(count_nan_Dewpt))
print ('Count of NaN in Clo =  ' + str(count_nan_Clo))
print ('Count of NaN in AMV =  ' + str(count_nan_AMV))
print ('Count of NaN in Age =  ' + str(count_nan_Age))
print ('Count of NaN in Met =  ' + str(count_nan_Met))

print('---------Find Outliers---------')

print(CollectedData_csv[['Age', 'AMV', 'Met', 'Clo','Dewpt','PlaneRadTemp','Ta','Tmrt','Vel','AirTurb','Pa','Rh','PMV','TaOutdoor','RhOutdoor']].min())
print(Selecting_the_data[['Age', 'AMV', 'Met', 'Clo','Dewpt','PlaneRadTemp','Ta','Tmrt','Vel','AirTurb','Pa','Rh','PMV','TaOutdoor','RhOutdoor']].max())




print("\n----------- Calculate Mean -----------\n")
print(Selecting_the_data.mean())
 
print("\n----------- Calculate Median -----------\n")
print(Selecting_the_data.median())
 
print("\n----------- Calculate Mode -----------\n")
print(Selecting_the_data.mode())

-------Data type of each column of Dataframe :------
Age             float64
AMV             float64
Met             float64
Clo             float64
Dewpt           float64
PlaneRadTemp    float64
Ta              float64
Tmrt            float64
Vel             float64
AirTurb         float64
Pa              float64
Rh              float64
PMV             float64
TaOutdoor       float64
RhOutdoor       float64
dtype: object
---------NUMBER OF NULLS IN EACH COlumn---------
Count of NaN in RhOutdoor =  19
Count of NaN in TaOutdoor =  1368
Count of NaN in PMV =  696
Count of NaN in Rh =  35
Count of NaN in Pa =  4656
Count of NaN in AirTub =  5601
Count of NaN in Vel =  3700
Count of NaN in Tmrt =  3701
Count of NaN in Ta =  20
Count of NaN in PlaneRedTemp =  7022
Count of NaN in Dewpt =  3552
Count of NaN in Clo =  1406
Count of NaN in AMV =  55
Count of NaN in Age =  2916
Count of NaN in Met =  1887
---------Find Outliers---------
Age              0.000
AMV             -3.000
Met              0.100
Clo              0.150
Dewpt           -1.953
PlaneRadTemp    -7.420
Ta              15.960
Tmrt            16.610
Vel              0.000
AirTurb          0.000
Pa               0.000
Rh               7.400
PMV             -4.170
TaOutdoor      -24.900
RhOutdoor        0.000
dtype: float64
Age             1996.00000
AMV                3.00000
Met                4.50000
Clo                2.13000
Dewpt             26.89675
PlaneRadTemp      11.70000
Ta                31.00000
Tmrt              37.44500
Vel                1.88000
AirTurb          102.45000
Pa                27.70000
Rh                79.30000
PMV                2.50000
TaOutdoor         32.35000
RhOutdoor        100.35000
dtype: float64

----------- Calculate Mean -----------

Age             308.637202
AMV               0.100735
Met               1.066003
Clo               0.778492
Dewpt            13.621447
PlaneRadTemp      0.217785
Ta               23.178861
Tmrt             23.450261
Vel               0.112439
AirTurb          18.265870
Pa                5.123996
Rh               42.529203
PMV              -0.073676
TaOutdoor        17.174585
RhOutdoor        61.100365
dtype: float64

----------- Calculate Median -----------

Age             35.000000
AMV              0.000000
Met              1.100000
Clo              0.751700
Dewpt           14.100000
PlaneRadTemp     0.200000
Ta              23.136667
Tmrt            23.358438
Vel              0.100000
AirTurb          0.500000
Pa               1.550667
Rh              43.280000
PMV             -0.030000
TaOutdoor       18.200000
RhOutdoor       68.795799
dtype: float64

----------- Calculate Mode -----------

    Age  AMV  Met   Clo  Dewpt  PlaneRadTemp    Ta  Tmrt  Vel  AirTurb   Pa  \
0  24.0  0.0  1.0  0.77   17.4           0.3  23.2  22.5  0.1      0.5  2.1

     Rh  PMV  TaOutdoor  RhOutdoor
0  64.0  0.1  27.555556        0.0