In [74]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [75]:
import pandas as pd
import numpy as np
from apyori import apriori
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [76]:
df = pd.read_csv('DATA.csv')

# **add headings**

In [77]:
df.columns =['age', 'workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

In [78]:
df=df.head(100)

In [79]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
96,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
97,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
98,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K
99,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [80]:
df = df.drop(df[df['workclass'] == ' ?'].index)

# ***LAbel incodeing ***

In [81]:


df['workclass'].unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc'], dtype=object)

In [82]:

df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th'], dtype=object)

In [83]:

df['marital-status'].unique()

array([' Married-civ-spouse', ' Divorced', ' Married-spouse-absent',
       ' Never-married', ' Separated', ' Married-AF-spouse'], dtype=object)

# ***Incoded Data set ***

In [84]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
96,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
97,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
98,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K
99,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

# ***`confidence as interestingness Part A `***

In [85]:
records = []
for i in range(len(df)):
    records.append([str(df.values[i,u]) for u in range(0, 15)])

# ***confidience20%***

In [86]:
rules = apriori(records, min_support=0.22, min_confidence=0.20,  min_length = 4)

In [87]:
# Store rules in result variable
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [88]:
print(len(results_list))

353

In [89]:
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' >50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({' Female'})
SUPPORT:	0.2708333333333333
RULE:	frozenset({' HS-grad'})
SUPPORT:	0.3020833333333333
RULE:	frozenset({' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({' Male'})
SUPPORT:	0.7291666666666666
RULE:	frozenset({' Married-civ-spouse'})
SUPPORT:	0.5625
RULE:	frozenset({' Never-married'})
SUPPORT:	0.22916666666666666
RULE:	frozenset({' Private'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' United-States'})
SUPPORT:	0.84375

## ***confidience40%***

In [90]:
rules = apriori(records, min_support=0.22, min_confidence=0.40,  min_length = 4)

In [91]:
# Store rules in result variable
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [92]:
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({' Male'})
SUPPORT:	0.7291666666666666
RULE:	frozenset({' Married-civ-spouse'})
SUPPORT:	0.5625
RULE:	frozenset({' Private'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' United-States'})
SUPPORT:	0.84375
RULE:	frozenset({' White'})
SUPPORT:	0.8125
RULE:	frozenset({'0'})
SUPPORT:	1.0
RULE:	frozenset({'40'})
SUPPORT:	0.53125
RULE:	frozenset({' HS-grad', ' <=50K'})
SUPPORT:	0.2604166666666667

## ***confidience50%***

In [93]:
rules = apriori(records, min_support=0.22, min_confidence=0.50,  min_length = 4)

In [94]:
# Store rules in result variable
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [95]:
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' Male'})
SUPPORT:	0.7291666666666666
RULE:	frozenset({' Married-civ-spouse'})
SUPPORT:	0.5625
RULE:	frozenset({' Private'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({' United-States'})
SUPPORT:	0.84375
RULE:	frozenset({' White'})
SUPPORT:	0.8125
RULE:	frozenset({'0'})
SUPPORT:	1.0
RULE:	frozenset({'40'})
SUPPORT:	0.53125
RULE:	frozenset({' HS-grad', ' <=50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({' Husband', ' <=50K'})
SUPPORT:	0.28125

`
# ***interest as an interestingness measure  psrt B***

`

# ***`confidence 80%`***

In [96]:
# Store rules in result variable
rules = apriori(records, min_support=0.22, min_confidence=0.80,  min_length = 4)
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({' United-States'})
SUPPORT:	0.84375
RULE:	frozenset({' White'})
SUPPORT:	0.8125
RULE:	frozenset({'0'})
SUPPORT:	1.0
RULE:	frozenset({' HS-grad', ' <=50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({' <=50K', ' Private'})
SUPPORT:	0.6041666666666666
RULE:	frozenset({' United-States', ' <=50K'})
SUPPORT:	0.625
RULE:	frozenset({' White', ' <=50K'})
SUPPORT:	0.59375
RULE:	frozenset({'0', ' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({'9', ' <=50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({'0', ' >50K'})
SUPPORT:	0.2604166666666667

# ***confidience 90%***

In [97]:
# Store rules in result variable
rules = apriori(records, min_support=0.22, min_confidence=0.90,  min_length = 4)
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({'0'})
SUPPORT:	1.0
RULE:	frozenset({'0', ' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({'0', ' >50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({' Female', ' Private'})
SUPPORT:	0.25
RULE:	frozenset({' Female', '0'})
SUPPORT:	0.2708333333333333
RULE:	frozenset({' HS-grad', '0'})
SUPPORT:	0.3020833333333333
RULE:	frozenset({' HS-grad', '9'})
SUPPORT:	0.3020833333333333
RULE:	frozenset({' Male', ' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({' Married-civ-spouse', ' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({'0', ' Husband'})
SUPPORT:	0.46875

# ***confidence 95%***

In [98]:
# Store rules in result variable
rules = apriori(records, min_support=0.22, min_confidence=0.95,  min_length = 4)
results = list(rules)# See the items that were bought together with their support
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
for i in range(0,10):
    print(results_list[i])

RULE:	frozenset({'0'})
SUPPORT:	1.0
RULE:	frozenset({'0', ' <=50K'})
SUPPORT:	0.7395833333333334
RULE:	frozenset({'0', ' >50K'})
SUPPORT:	0.2604166666666667
RULE:	frozenset({' Female', '0'})
SUPPORT:	0.2708333333333333
RULE:	frozenset({' HS-grad', '0'})
SUPPORT:	0.3020833333333333
RULE:	frozenset({' HS-grad', '9'})
SUPPORT:	0.3020833333333333
RULE:	frozenset({' Male', ' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({' Married-civ-spouse', ' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({'0', ' Husband'})
SUPPORT:	0.46875
RULE:	frozenset({' Male', '0'})
SUPPORT:	0.7291666666666666

# ***Part C ***

# **Question: What factors influence income levels (<=50K or >50K)?**
**Attributes: Age, Workclass, Education, Marital Status, Occupation, Relationship, Race, Sex, Capital Gain, Capital Loss, Hours per Week, Native Country**

In [99]:
income_rules = apriori(records, min_support=0.1, min_confidence=0.5, min_lift=1.0, min_length=2)

# ***Question: Are there any patterns in education and occupation that predict income levels?***
Attributes: Education, Occupation, Income

In [100]:
edu_occupation_income_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# **Question: Can we identify demographic factors associated with high capital gains?**
Attributes: Age, Education, Marital Status, Occupation, Race, Sex, Capital Gain

In [101]:
capital_gains_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# **Question: What are the common characteristics of individuals working long hours (>40 hours per week)?**
Attributes: Age, Education, Marital Status, Occupation, Relationship, Race, Sex, Hours per Week

In [102]:
long_hours_rules = apriori(records, min_support=0.1, min_confidence=0.5, min_lift=1.0, min_length=2)

# **Question: Is there a relationship between marital status and hours worked per week?**
# Attributes: Marital Status, Hours per Week

In [103]:
marital_hours_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# **Question: Are certain occupations more likely to have higher levels of education?**
Attributes: Occupation, Education

In [104]:
occupation_education_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# ***Question: Can we identify any patterns in the relationship between age and education?***
Attributes: Age, Education

In [105]:
age_education_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# ***Question: Are there any notable differences in income levels based on native country?***
Attributes: Native Country, Income

In [106]:
native_country_income_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# ***Question: Do individuals with higher education levels tend to work in specific occupations?***
Attributes: Education, Occupation

In [107]:

education_occupation_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# **Question: Can we identify any patterns in the relationship between age and capital losses?**
# ***Attributes: Age, Capital Loss***

In [108]:

age_capital_loss_rules = apriori(records, min_support=0.05, min_confidence=0.5, min_lift=1.0, min_length=2)

# ***-----------------Part D-----------------***

In [109]:
# Extracting rules using different evaluation measures
rules_support = apriori(records, min_support=0.1, min_confidence=0.5, min_lift=1.0, min_length=2, max_length=3)
rules_conviction = apriori(records, min_support=0.1, min_confidence=0.5, min_lift=1.0, min_length=2, max_length=3, metric='conviction')
rules_leverage = apriori(records, min_support=0.1, min_confidence=0.5, min_lift=1.0, min_length=2, max_length=3, metric='leverage')

In [110]:
for rule in sorted(rules_support, key=lambda x: x.support, reverse=True)[:10]:
    print(rule)

RelationRecord(items=frozenset({'0'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0'}), confidence=1.0, lift=1.0)])
RelationRecord(items=frozenset({' United-States'}), support=0.84375, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' United-States'}), confidence=0.84375, lift=1.0)])
RelationRecord(items=frozenset({' United-States', '0'}), support=0.84375, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' United-States', '0'}), confidence=0.84375, lift=1.0), OrderedStatistic(items_base=frozenset({' United-States'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({' United-States'}), confidence=0.84375, lift=1.0)])
RelationRecord(items=frozenset({' White'}), support=0.8125, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' White'}), confidence=0.8125, lift=1.0)])
RelationRecord(items=frozenset({' White', '0'}), support=0.8125, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' White', '0'}), confidence=0.8125, lift=1.0), OrderedStatistic(items_base=frozenset({' White'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({' White'}), confidence=0.8125, lift=1.0)])
RelationRecord(items=frozenset({' <=50K'}), support=0.7395833333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' <=50K'}), confidence=0.7395833333333334, lift=1.0)])
RelationRecord(items=frozenset({' Private'}), support=0.7395833333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' Private'}), confidence=0.7395833333333334, lift=1.0)])
RelationRecord(items=frozenset({'0', ' <=50K'}), support=0.7395833333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0', ' <=50K'}), confidence=0.7395833333333334, lift=1.0), OrderedStatistic(items_base=frozenset({' <=50K'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({' <=50K'}), confidence=0.7395833333333334, lift=1.0)])
RelationRecord(items=frozenset({'0', ' Private'}), support=0.7395833333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0', ' Private'}), confidence=0.7395833333333334, lift=1.0), OrderedStatistic(items_base=frozenset({' Private'}), items_add=frozenset({'0'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({' Private'}), confidence=0.7395833333333334, lift=1.0)])
RelationRecord(items=frozenset({' Male'}), support=0.7291666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' Male'}), confidence=0.7291666666666666, lift=1.0)])

In [111]:
# Extracting top 10 rules with their support for each evaluation measure
results_support = list(rules_support)
results_conviction = list(rules_conviction)
results_leverage = list(rules_leverage)

In [112]:
print("Top 10 rules based on Support:")
for i in range(min(10, len(results_support))):
    print("RULE:\t", results_support[i][0], "\nSUPPORT:\t", results_support[i][1])

Top 10 rules based on Support:

In [113]:
print("\nTop 10 rules based on Conviction:")
for i in range(min(10, len(results_conviction))):
    print("RULE:\t", results_conviction[i][0], "\nCONVICTION:\t", results_conviction[i][1])

Top 10 rules based on Conviction:
RULE:	 frozenset({' <=50K'})
CONVICTION:	 0.7395833333333334
RULE:	 frozenset({' Male'})
CONVICTION:	 0.7291666666666666
RULE:	 frozenset({' Married-civ-spouse'})
CONVICTION:	 0.5625
RULE:	 frozenset({' Private'})
CONVICTION:	 0.7395833333333334
RULE:	 frozenset({' United-States'})
CONVICTION:	 0.84375
RULE:	 frozenset({' White'})
CONVICTION:	 0.8125
RULE:	 frozenset({'0'})
CONVICTION:	 1.0
RULE:	 frozenset({'40'})
CONVICTION:	 0.53125
RULE:	 frozenset({' <=50K', ' Black'})
CONVICTION:	 0.11458333333333333
RULE:	 frozenset({' Divorced', ' <=50K'})
CONVICTION:	 0.125

In [114]:
print("\nTop 10 rules based on Leverage:")
for i in range(min(10, len(results_leverage))):
    print("RULE:\t", results_leverage[i][0], "\nLEVERAGE:\t", results_leverage[i][1])

Top 10 rules based on Leverage:
RULE:	 frozenset({' <=50K'})
LEVERAGE:	 0.7395833333333334
RULE:	 frozenset({' Male'})
LEVERAGE:	 0.7291666666666666
RULE:	 frozenset({' Married-civ-spouse'})
LEVERAGE:	 0.5625
RULE:	 frozenset({' Private'})
LEVERAGE:	 0.7395833333333334
RULE:	 frozenset({' United-States'})
LEVERAGE:	 0.84375
RULE:	 frozenset({' White'})
LEVERAGE:	 0.8125
RULE:	 frozenset({'0'})
LEVERAGE:	 1.0
RULE:	 frozenset({'40'})
LEVERAGE:	 0.53125
RULE:	 frozenset({' <=50K', ' Black'})
LEVERAGE:	 0.11458333333333333
RULE:	 frozenset({' Divorced', ' <=50K'})
LEVERAGE:	 0.125